.btn-login {
    display: inline-block;
    font-size: 17px;
    font-weight: 400;
    background: #fdd048;
    padding: 0px 2px 0px 2px;
    transition: color .2s, background .2s;
}
.btn-login:hover {
    color: #fff;
    background: #25bb52;
}